<form [formGroup]="airlineForm">
    id: <input type="number" name="" id="" formControlName="id" class="form-control">
name: <input type="text" name="" id="" formControlName="name" class="form-control">
country: <input type="text" name="" id="" formControlName="country" class="form-control">
logo: <input type="text" name="" id="" formControlName="logo" class="form-control">
slogan: <input type="text" name="" id="" formControlName="slogan" class="form-control">
head_quaters: <input type="text" name="" id="" formControlName="head_quaters" class="form-control">
website: <input type="text" name="" id="" formControlName="website" class="form-control">
established: <input type="text" name="" id="" formControlName="established" class="form-control">
<br>
<input type="button" value="Add" class="btn btn-success" (click)="fnAddAirline()">

</form>
{{ airlineForm.value | json}}