User Name: <input type="text" name="username" id="" class="form-control" [(ngModel)]="username">
First Name: <input type="text" name="firstname" id="" class="form-control" [(ngModel)]="firstname">
Last Name: <input type="text" name="lastname" id="" class="form-control" [(ngModel)]="lastname">
Password: <input type="password" name="password" id="" class="form-control" [(ngModel)]="password">
Confirm Password: <input type="password" name="cpassword" id="" class="form-control" [(ngModel)]="cpassword">
Email: <input type="email" name="email" id="" class="form-control" [(ngModel)]="phone">
Phone: <input type="number" name="phone" id="" class="form-control" [(ngModel)]="email">
<br>
<input type="button" value="Submit" class="btn btn-success" (click)="fnSubmit()">
<br><br><br><br>